modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["ffmpeg", "jdk17_headless", "zip", "glib", "nss", "nspr", "atk", "at-spi2-atk", "cups", "libdrm", "gtk3", "pango", "cairo", "xorg.libX11", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "xorg.libxcb", "expat", "alsa-lib", "mesa", "dbus", "libxkbcommon"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3001

[[ports]]
localPort = 23637
externalPort = 3002

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:2.0.0", "javascript_openai_ai_integrations:2.0.0", "stripe:2.0.0", "javascript_object_storage:2.0.0", "resend:1.0.0"]

[userenv]

[userenv.shared]
AI_INTEGRATIONS_OPENAI_BASE_URL = "http://localhost:1106/modelfarm/openai"
AI_INTEGRATIONS_OPENAI_API_KEY = "_DUMMY_API_KEY_"
VAPID_PUBLIC_KEY = "BNeozYX_WZ6iyv7ZJNCzZbJRhAMLBvTT39UMNH26z1KqLhpK9Iyj6zOYVk4a8nbhZ1UziiMl59kgMrPemYH85ug"
VAPID_PRIVATE_KEY = "9IOIbm4ara3McotnEjPbn1yvKY2ce_3d6aTTlpb89fA"
VITE_VAPID_PUBLIC_KEY = "BNeozYX_WZ6iyv7ZJNCzZbJRhAMLBvTT39UMNH26z1KqLhpK9Iyj6zOYVk4a8nbhZ1UziiMl59kgMrPemYH85ug"
APNS_KEY_ID = "VN56L9YCX2"
APNS_TEAM_ID = "XWGZCDT3XH"
APNS_KEY_P8 = """
-----BEGIN PRIVATE KEY-----
  MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgMwc7U1DjGyCrU9+5
  OlQgOA8s5IW7f6MGkgx5OVGDM92gCgYIKoZIzj0DAQehRANCAATU59yu7y6CjdHA
  MUQh8i5XXPHDuH49/DemfakRF47LPRGUCr4AQpRoNu5Q+A622IsWXva2c8ap8JdS
  32Bqt9n5
  -----END PRIVATE KEY-----"""

[userenv.development]
APNS_PRODUCTION = "false"

[userenv.production]
APNS_PRODUCTION = "true"
